In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
dataset=pd.read_csv("car_price_prediction.csv")

In [4]:
dataset

,make,model,year,mileage,engine_hp,transmission,fuel_type,drivetrain,body_type,exterior_color,interior_color,owner_count,accident_history,seller_type,condition,trim,vehicle_age,mileage_per_year,brand_popularity,price
0,Volkswagen,Jetta,2016,183903,173,Manual,Electric,RWD,Sedan,Blue,Brown,5,NaN,Dealer,Excellent,EX,9,20433.666667,0.040054,7208.52
1,Lexus,RX,2010,236643,352,Manual,Gasoline,FWD,Sedan,Silver,Beige,5,Minor,Dealer,Good,LX,15,15776.200000,0.039921,6911.81
2,Subaru,Crosstrek,2016,103199,188,Automatic,Diesel,AWD,Sedan,Silver,Beige,5,NaN,Dealer,Excellent,Touring,9,11466.555556,0.040230,11915.63
3,Cadillac,Lyriq,2016,118889,338,Manual,Gasoline,AWD,SUV,Black,Gray,3,NaN,Private,Good,Base,9,13209.888889,0.039847,25984.79
4,Toyota,Highlander,2018,204170,196,Manual,Diesel,FWD,Sedan,Red,Brown,5,Minor,Dealer,Excellent,Sport,7,29167.142857,0.039627,8151.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,Jeep,Cherokee,2015,130407,176,Manual,Electric,FWD,SUV,Red,Black,2,NaN,Dealer,Excellent,Touring,10,13040.700000,0.040006,10928.88
999996,Dodge,Challenger,2013,276316,211,Manual,Gasoline,RWD,Coupe,Red,Beige,4,Minor,Dealer,Good,Sport,12,23026.333333,0.040035,1827.22
999997,Mercedes-Benz,E-Class,2023,3964,339,Automatic,Electric,AWD,SUV,White,Brown,2,NaN,Dealer,Good,Sport,2,1982.000000,0.039794,48882.42
999998,Volvo,XC90,2019,83674,311,Automatic,Gasoline,AWD,Wagon,Blue,Beige,2,NaN,Dealer,Excellent,Limited,6,13945.666667,0.039842,32195.91
999999,Ram,1500,2022,44863,240,Automatic,Diesel,FWD,Pickup Truck,Blue,Brown,1,NaN,Dealer,Excellent,Base,3,14954.333333,0.040148,35415.72

In [10]:
from sklearn.preprocessing import LabelEncoder

# Copy dataframe
dataset = dataset.copy()

# Columns to encode
categorical_cols = [
    "make", "model", "transmission", "fuel_type", "drivetrain", "body_type",
    "exterior_color", "interior_color", "accident_history", "seller_type",
    "condition", "trim"
]

# Apply LabelEncoder
le = LabelEncoder()
for col in categorical_cols:
    dataset[col] = le.fit_transform(dataset[col].astype(str))

In [11]:
dataset

,make,model,year,mileage,engine_hp,transmission,fuel_type,drivetrain,body_type,exterior_color,interior_color,owner_count,accident_history,seller_type,condition,trim,vehicle_age,mileage_per_year,brand_popularity,price
0,23,50,2016,183903,173,1,1,2,5,1,2,5,2,0,0,1,9,20433.666667,0.040054,7208.52
1,14,77,2010,236643,352,1,2,1,5,4,0,5,1,0,2,2,15,15776.200000,0.039921,6911.81
2,20,27,2016,103199,188,0,0,0,5,4,0,5,2,0,0,5,9,11466.555556,0.040230,11915.63
3,3,51,2016,118889,338,1,2,0,4,0,3,3,2,1,2,0,9,13209.888889,0.039847,25984.79
4,22,46,2018,204170,196,1,0,1,5,3,2,5,1,0,0,4,7,29167.142857,0.039627,8151.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,11,23,2015,130407,176,1,1,1,4,3,1,2,2,0,0,5,10,13040.700000,0.040006,10928.88
999996,6,21,2013,276316,211,1,2,2,0,3,0,4,1,0,2,4,12,23026.333333,0.040035,1827.22
999997,16,31,2023,3964,339,0,1,0,4,5,2,2,2,0,2,4,2,1982.000000,0.039794,48882.42
999998,24,102,2019,83674,311,0,2,0,6,1,0,2,2,0,0,3,6,13945.666667,0.039842,32195.91
999999,19,0,2022,44863,240,0,0,1,3,1,2,1,2,0,0,0,3,14954.333333,0.040148,35415.72

In [14]:
#Finding Missing Values
dataset.isnull().sum()

make                0
model               0
year                0
mileage             0
engine_hp           0
transmission        0
fuel_type           0
drivetrain          0
body_type           0
exterior_color      0
interior_color      0
owner_count         0
accident_history    0
seller_type         0
condition           0
trim                0
vehicle_age         0
mileage_per_year    0
brand_popularity    0
price               0
dtype: int64

In [15]:
dataset.isna().sum()

make                0
model               0
year                0
mileage             0
engine_hp           0
transmission        0
fuel_type           0
drivetrain          0
body_type           0
exterior_color      0
interior_color      0
owner_count         0
accident_history    0
seller_type         0
condition           0
trim                0
vehicle_age         0
mileage_per_year    0
brand_popularity    0
price               0
dtype: int64

In [18]:
#Finding Quantitative and Qualitative columns
def quanqual(dataset):
    quan=[]
    qual=[]
    for columnname in dataset.columns:
        if(dataset[columnname].dtype=='O'):
            #print("qual")
            qual.append(columnname)
        else:
            #print("quan")
            quan.append(columnname)
    return quan, qual

In [19]:
quanqual(dataset)

(['make',
  'model',
  'year',
  'mileage',
  'engine_hp',
  'transmission',
  'fuel_type',
  'drivetrain',
  'body_type',
  'exterior_color',
  'interior_color',
  'owner_count',
  'accident_history',
  'seller_type',
  'condition',
  'trim',
  'vehicle_age',
  'mileage_per_year',
  'brand_popularity',
  'price'],
 [])

In [20]:
#Save the Preprocessed data 
dataset.to_csv("Preprocessed_car_predict.csv",index=False)